<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Create new Account</h1>
<div>
    Here you can register your new Account
</div>
<form method="post" th:object="${newPerson}">
    Login: <input th:field="*{login}">
    Password: <input th:field="*{password}">
    First Name: <input th:field="*{firstName}">
    Last Name: <input th:field="*{lastName}">
    <input type="submit">
</form>
</body>
</html>