<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>App1</h1>
<table>
    <tr th:each="person: ${people}">
        <td th:text="${person.firstName}"></td>
        <td th:text="${person.lastName}"></td>
        <td th:text="${person.id}"></td>
    </tr>
</table>
<div th:if="${people.size()} lt 1">
    No data
</div>
<form method="post" th:object="${newPerson}">
    First name: <input th:field="*{firstName}">
    Last name: <input th:field="*{lastName}">
    <input type="submit">
</form>
</body>
</html>