<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<div class="container">

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div id="navbarNav">
            <div class="container">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/jpa/}">Home Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/jpa/sign_in}">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/jpa/register}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/jpa/accounts}">Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/jpa/users}">Users</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>Login to Account</h1>
    <div>
        Enter your login information
    </div>
    <form method="post">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-sm-1">Login: </label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label class="col-form-label col-sm-1">Password: </label>
                <div class="col-sm-4">
                    <input class="form-control" type="text">
                </div>
            </div>

            <div class="text-center p-3 col-sm-5">
                <button class="btn btn-primary" type="submit" disabled>Sign in</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>